@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: url("../assets/15.jpg");
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes infinite-scroll {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-250%);
	}
}

.animate-rocket {
	animation: infinite-scroll 2s linear infinite;
}
